.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ffe2e2, #fff); /* Pink gradient background */
}

.content-container {
  display: flex;
  align-items: flex-start; 
  width: 90%;
  max-width: 1400px;
  padding: 20px;
}

.logo {
  display: block;
  width: 175px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto;
  
}

.text-content {
  flex: 1;
  width: 700px;
  padding-right: 20px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.text-content h1 {
  font-size: 3.0em; /* Larger title */
  color: #333;
  margin-left: 180px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Text shadow */
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.7;
  color: #555;
  margin-bottom: 30px;
}

.text-content button {
  background-color: #000; /* Black button */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
}

.text-content button:hover {
  background-color: #333; /* Darker black on hover */
}

.image-container {
  flex: 1;
  text-align: right;
  margin-top: -110px; /* Add margin to the top to push the image down */
  width: 700px;

}

.image-container img {
  max-width: 100%; /* Make image responsive */
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); More prominent shadow */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .text-content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .image-container {
    text-align: center;
    margin-top: 30px;
  }
}