.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  min-height: 100vh; /* Ensure full height */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width/height */
}

.content-container {
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically align items */
  width: 90%;
  max-width: 1400px;
  padding: 20px;
  box-sizing: border-box;
}

.text-content {
  flex: 1; /* Take up available space */
  width: auto; /* Adjust width automatically */
  padding-right: 20px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.text-content h1 {
  font-size: 3.0em;
  color: #333;
  margin-left: 0; /* Remove fixed margin */
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.7;
  color: #555;
  margin-bottom: 30px;
}

.text-content button {
  background-color: #000;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-content button:hover {
  background-color: #333;
}

.image-container {
  flex: 1; /* Take up available space */
  text-align: right;
  width: auto; /* Adjust width automatically */
  margin-top: -50px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block; /* Remove extra space */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .text-content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .image-container {
    text-align: center;
    margin-top: 30px;
  }
}
