/* Navbar container styling */
#navbar-container {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  background: transparent;
}

/* Navbar styling */
#navbar {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  justify-content: space-between; /* Spreads out logo and menu */
  background: transparent;
  padding: 1rem 0;
}

/* Logo styling */
#logo {
  display: flex;
  justify-self: flex-start;
}

#logo-icon {
  width: 250px;
  height: 250px;
  margin-left: 6rem;
  margin-top: 1rem;
  object-fit: contain; /* Ensures the image scales properly */
  display: block;
}

/* Menu styling */
#menu {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0.7rem 1rem;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
}

#menu-item-home,
#menu-item-about-us,
#menu-item-product-review,
#menu-item-quiz {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#menu-item-home:hover,
#menu-item-about-us:hover,
#menu-item-product-review:hover,
#menu-item-quiz:hover {
  color: #eee;
  background-color: rgba(255, 255, 255, 0.1);
}

#menu-item-home.active,
#menu-item-about-us.active,
#menu-item-product-review.active,
#menu-item-quiz.active {
  background-color: grey;
  color: white;
}

/* Logout button styling */
#logout-button {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#logout-button:hover {
  color: #eee;
  background-color: rgba(255, 255, 255, 0.1);
}