
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    padding: 0.5rem 1rem;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    display: flex;
    align-items: center;
  }
  
  .menu-item {
    padding: 0.5rem 1.5rem;
    margin: 0 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    background-color: transparent;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
  }
  
  .menu-item:hover {
    color: grey;
  }
  
  .menu-item.active {
    background-color: grey;
    color: white;
  }
  
  .content {
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .content h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: #2D3748;
  }
  
  .content p {
    margin-top: 1rem;
    color: #4A5568;
    font-size: 1.25rem;
  }
  