/* Navbar styling */
.navbar {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1rem 0;
}

.logo-icon {
  width: 250px;
  height: 250px;
  margin-left: 6rem; /* Changed to rem unit */
  margin-top: 1rem; /* Resetting top margin */
  display: flex;
  justify-self: flex-start;
}

/* Menu styling */
.menu {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0.7rem 1rem;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
}

/* Menu items styling */
.menu-item {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  color: #eee; /* Lighter text on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Subtle background on hover */
}

.menu-item.active {
  background-color: grey;
  color: white;
}
