/* Navbar styling */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffe2e2, #fff);
  padding: 1rem 0;
  padding-bottom: 100px
}
.logo-icon{
  width: 200px;
  height: 200px;
  margin-left: -70%;
  margin-top: 35%;
}

/* Menu styling */
.menu {
  padding: 0.7rem 1rem;
  margin-right: 30%;
  margin-top: 50px;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

/* Menu items styling */
.menu-item {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  color: #eee; /* Lighter text on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Subtle background on hover */
}

.menu-item.active {
  background-color: grey;
  color: white;
}

/* Content styling */
.content {
  text-align: center;
  margin-top: 2.5rem;
  padding: 0 1rem;
}

.content h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #2D3748;
}

.content p {
  margin-top: 1rem;
  color: #4A5568;
  font-size: 1.25rem;
}

/* Button styling */
.get-started-btn {
  padding: 0.75rem 1.5rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: grey;
}